LLM_API_KEY="vck_..."
LLM_BASE_URL="https://ai-gateway.vercel.sh/v1"
GEMINI_API_KEY="AI..."

LLM_MODEL="openai/gpt-5.4-nano"

# LangSmith
USER_AGENT=" "
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="lsv2_pt_..."
LANGSMITH_PROJECT="data-agentics"
