LLM_API_KEY=vck_...
LLM_BASE_URL=https://ai-gateway.vercel.sh/v1
AI_GATEWAY_API_KEY=vck_...
OPENCODE_API_KEY=sk-...
GEMINI_API_KEY=AI...

# LangSmith
USER_AGENT=" "
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=lsv2_pt_...
LANGSMITH_PROJECT=data-agentics